<div class="mt-3">

  <div>
    <c-container>
      <c-row>
        <c-col xs="8">
          <input cFormControl id="inputPassword2" placeholder="Tìm kiếm nhân viên" type="text" [(ngModel)]="filter.name" (ngModelChange)="onFilterStaff($event)"/>
        </c-col>
        <c-col>
          <a href="/#/nhan-vien/them-nhan-vien"><button cButton color="primary">Thêm nhân viên </button></a>
        </c-col>
      </c-row>
    </c-container>
  </div>


  <div class="mt-3">
    <table cTable>
      <thead cTableColor="dark">
        <tr>
          <th scope="col">Mã NV</th>
          <th scope="col">Tên</th>
          <th scope="col">Số điện thoại</th>
          <th scope="col">Vai trò</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let staff of listStaff">
          <td style="cursor: pointer; color: blue;" (click)="onViewInfoStaff(staff._id)">{{staff.staffId}}</td>
          <td>{{staff.name}}</td>
          <td>{{staff.tel}}</td>
          <td>{{staff.roleName}}</td>
          <td (click)="onHandleDeleteStaff(staff._id)"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg></td>
        </tr>
      </tbody>
      <!-- <tfoot>
      <tr>
        <td class="h5">Tổng</td>
        <td>{{quantity}}</td>
        <td>{{price | currency: "VND" }}</td>
        <td>{{discount | currency: "VND"}}</td>
        <td>{{totalMoney | currency: "VND"}}</td>
      </tr>
      </tfoot> -->
    </table>
  </div>

  <!-- MODEL DELETE STAFF -->
  <div>
    <c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
      <c-modal-header>
        <h5 cModalTitle>Xoá nhân viên</h5>
        <button (click)="toggleLiveDemo()" cButtonClose></button>
      </c-modal-header>
      <c-modal-body>Bạn chắc chắc muốn xoá nhân viên này , quá trình không thể được khôi phục</c-modal-body>
      <c-modal-footer>
        <button (click)="toggleLiveDemo()" cButton color="secondary">
          Không
        </button>
        <button cButton color="primary" (click)="onDeleteStaff()">Có</button>
      </c-modal-footer>
    </c-modal>
  </div>
  <notifier-container></notifier-container>
</div>

