<div> 
    <div class="mt-3">
      <table cTable>
        <thead cTableColor="dark">
          <tr>
            <th scope="col">Tên khách hàng</th>
            <th scope="col">Tổng đơn </th>
            <th scope="col">Số lượng sách</th>
            <th scope="col">Giảm giá</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listInvoices">
            <td *ngIf="item.customerName == null">Khách chưa đăng ký</td>
            <td *ngIf="item.customerName">{{item.customerName}}</td>
            <!-- <td>{{item.customerName}}</td> -->
            <td>{{item.totalPrice  | currency: "VND"}}</td>
            <td>{{item.totalQuantityBook}}</td>
            <td>{{item.discount}}%</td>
            <td (click)="onHanldeDelete(item._id)"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg></td>
        </tr>
        </tbody>
      </table>
      <p *ngIf="listInvoices.length === 0" style="text-align: center;">Chưa có đơn hàng nào được thanh toán trong hôm nay</p>
    </div>
   <!--CONFIRM DELETE -->
    <div>
        <c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
          <c-modal-header>
            <h5 cModalTitle>Xoá sách</h5>
            <button (click)="toggleLiveDemo()" cButtonClose></button>
          </c-modal-header>
          <c-modal-body>Bạn chắc chắc muốn xoá , quá trình không thể được khôi phục</c-modal-body>
          <div class="col-md-8" style="margin-left: 10px; margin-bottom: 10px;">
            <input cFormControl  placeholder="Lý do xoá đơn hàng" type="text"  [(ngModel)]="note"/>
          </div>
          <c-modal-footer>
            <button (click)="toggleLiveDemo()" cButton color="secondary">
              Không
            </button>
            <button cButton color="primary" (click)="onDeleteOrder()">Có</button>
          </c-modal-footer>
        </c-modal>
      </div>
      <notifier-container></notifier-container>
  </div>
  